html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #2C2F33;
    color: white;
}

* {
    font-family: 'Whitney Medium';
}

a {
    color: #7289DA;
    text-decoration: none;
}

p,
span,
li {
    font-size: 1.6rem;
}

#topbox {
    height: 100px;
}

#mainhero {
    top: 50px;
    padding-bottom: 100px;
}

#mainherotext {
    display: inline-block;
    width: 50%;
    padding-top: 8%;
    vertical-align: text-top;
    text-align: center;
}

#mainherotitle {
    font-family: 'Whitney Black';
    font-size: 4rem;
}

#mainherosmolwrapper {
    padding-left: 35%;
}

#smolbeewrapper {
    width: 35%;
    padding-right: 40%;
    float: right;
}

#cover-beheeyem {
    width: 100%;
}

#coverbeewrapper {
    width: 50%;
    display: inline-block;
    float: right;
}

#subtitle {
    text-align: center;
    padding-top: 8%;
}

.infosection {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 8%;
}

.buttonsection {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.button {
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
}

.button:hover {
    -webkit-animation: pulse 0.7s;
    animation: pulse 0.7s;
}

footer {
    padding-left: 1%;
    padding-bottom: 3px;
}

footer span {
    font-size: 0.8rem;
}

@font-face {
    font-family: 'Whitney Medium';
    src: url('/include/font/WhitneyMedium.ttf') format('truetype'), url('../font/WhitneyMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney Black';
    src: url('/include/font/whitney_black-webfont.ttf') format('truetype');
}


/* iTyped Cursor */

.ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    animation: blink 0.8s step-start 0s infinite;
    -webkit-animation: blink 0.8s step-start 0s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

@-webkit-keyframes blink {
    50% {
        opacity: 0.0;
    }
}